
$clr-black: black;
$clr-gray: gray;
$clr-white: white;

$clr-main: #4BC9C9;
$clr-gradient: linear-gradient(270deg, #82D6D6, #8BC1EF);

$clr-font-3: #303133;
$clr-font-6: #606266;
$clr-font-9: #909399;
$clr-line-d: #DCDFE6;
$clr-line-e: #E4E7ED;
$clr-line-danger: #FA5555;
$clr-bg-f0: #F0F2F5;
$clr-bg-f5: #F5F7FA;

$f-size-1: 1rem * 0.75;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.25;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2.25;


