
.hide-in-phone {
  display: none;
  @media(min-width: $limit-w-pc) {
    display: block;
  }
}

// flex utility
.flex-rlc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.flex-rcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-rrc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.flex-ccl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-ccr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

//
.remove-m {
  margin: 0;
}
.remove-p {
  padding: 0;
}
